{% assign has_email = false %}
{% assign has_text = false %}

<form action="#">
    {% for block in blocks %}
        {% case block.type %}
        {% when 'email' %}
                    <label>{{ block.settings.email_label }}</label>
                    <input name="email" type="email" placeholder="Email" id="{{ block.id }}">
                    {% assign has_email = true %}
                {% when 'text' %}
                    <label>{{ block.settings.message_label }}</label>
                    <textarea name="textarea" rows="5" placeholder="Message" id="{{ block.id }}"></textarea>
                    {% assign has_text = true %}
                {% endcase %} 
        {% endfor %}  
    {% if has_email or has_text %}
        <button type="submit">Submit</button>
    {% endif %}   
</form>


