{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>Показывать "Идёт дождь" если section.settings.weather равен rain</li>
    <li>Показывать "Идёт снег" если section.settings.weather равен snow</li>
    <li>Показывать "Поднялся ветер" если section.settings.weather равен wind</li>
    <li>Показывать "Погода сегодня прекрасная" если section.settings.weather равен fine</li>
    <li>Иначе показывать "Другое"</li>
{% endcapture %}

{% assign round_name2 = 'Round 2' %}
{% capture round2_lists %}
    <li>Сделать текст "Идёт дождь" синим, а фон белым</li>
    <li>Сделать текст "Идёт снег" белым, а фон чёрным</li>
    <li>Сделать текст "Поднялся ветер" серым, а фон синим</li>
    <li>Сделать текст "Погода сегодня прекрасная" чёрным, а фон зёленым</li>
    <li>Сделать текст "Другое" жирным, красным</li>
{% endcapture %}

{% assign round_name3 = 'Round 3' %}
{% capture round3_lists %}
    <li>Избавиться от повторений тега p (в css нет liquid)</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
    {% render 'exercise-nav', round_name: round_name2 %}
    {% render 'exercise-nav', round_name: round_name3 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
    {% render 'exercise-content', round_name: round_name2, round_lists: round2_lists %}
    {% render 'exercise-content', round_name: round_name3, round_lists: round3_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}