{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>Создать и использовать сниппет для условий задач</li>
    <li>
        Все условия задач вынести в собственные сниппеты с соответствующими названиеми.(Конвенция: 
        <code>exercise-{number}.liquid</code>)
    </li>
    <li>
        Секции переименовать.(Конвенция: 
        <code>solution-{number}.liquid</code>)
    </li>
    <li>
        Каждый снипет вызывает внутри себя универсальный сниппет 
        <code>exercise-wrapper.liquid</code>, 
        в который передаются пропы 
        <code>heading</code> и 
        <code>content</code>
    </li>
    <li>
        Сниппет 
        <code>exercise-wrapper.liquid</code> 
        должен иметь свои стили.
    </li>
    <li>Возможные улучшения и оптимизация приветствуется.</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}