{{ 'style_tabs_bases.css' | asset_url | stylesheet_tag }}
{% liquid
    assign NS = 'tabs'
%}

{% capture nav %}
    <label class="{{ NS }}-header-label" id="label1" for="tab1">Задание 1</label>
{% endcapture %}

{% capture content %}
    <input class="{{ NS }}-input" id="tab1" type="checkbox" name="tabs">
    <div class="{{ NS }}-content">
        <h4>(Filters, snippets, iterations)</h4>
        <h5>Для чисел из сеттинга values вывести натуральные делители</h5>
        <cite>(Делитель натурального числа a – это натуральное число <code>b</code>, на которое число a делится без остатка.)</cite>   
        <ol>
            <li>Если натуральных делителей для числа нет - вывести "No natural divisors".</li>
            <li>Каждое число из сеттинга передавать в сниппет delimeters для получения и вывода результата.</li>
            <li>Результат вывода должен выглядеть как показано на <a href="https://drive.google.com/file/d/1AY6DYocBsDF5BZIR56ZUQpS2LPFppZxV/view?usp=sharing">примере</a>.</li>
        </ol>
    </div>
{% endcapture %}

{% render 'exercise-wrapper', nav: nav, content: content %}