{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>Переключать жирный шрифт чекбоксом use_bold_font</li> 
    <li>Переключать курсивный шрифт чекбоксом use_italic_font</li>
    <li>Размер шрифта регулируется сеттингом font_size типа number</li>
    <li>Ширина секции регулируется сеттингом section_width типа range</li>
    <li>Контент выравнивается с помощью сеттинга content_alignment типа select (left/center/right)</li>
    <li>Сеттинг для хэдинга - heading_text типа text</li>
    <li>Переключать подчёркнутый шрифт heading чекбоксом use_bold</li>
    <li>Сеттинг для сабхэдинга - subheading_text типа text</li>
    <li>Subheading находится над или после heading в зависимости от сеттинга subheading_position типа radio</li>
    <li>Если есть хоть 1 инпут блок - рэндерить сниппет contact-form передавая в него блоки:</li>
    <li>Textarea message input блок</li>
    <li>Text e-mail input блок</li>
{% endcapture %}

{% assign round_name2 = 'Round 2' %}
{% capture round2_lists %}
    <li>content_alignment типа select изменить на выравнивание текста</li>
    <li>font size renje исправить на november</li>
    <li>content_alignment типа select решить с помощью структуры (доп задание флексами (left,top,bottom))</li>
    <li>Рефактр формы</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
    {% render 'exercise-nav', round_name: round_name2 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
    {% render 'exercise-content', round_name: round_name2, round_lists: round2_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}