{{ 'exercise-wrapper.css' | asset_url | stylesheet_tag }}
    
    <div class="tabs" >
        <div class="tabs-header">
            {{ nav }}
        </div>   
    
        <div class="tabs-inner">
            {{ content }}
        </div>
    </div> 