{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>Показывать всё содержимое контента, помеченого как "Контент" комментарием, только когда 
        <code>section.settings.show_content</code> равен true
    </li>
    <li>
        Показывать хэдинг только когда 
        <code>section.settings.show_heading</code> 
        равен true 
    </li>
    <li>
        Применять цвет текста для хэдинга только когда 
        <code>section.settings.use_color</code> 
        равен true
    </li>
    <li>
        Показывать "Lorem ipsum" текст только когда 
        <code>section.settings.show_text</code> 
        равен true
    </li>
    <li>
        Если 
        <code>section.settings.heading</code> 
        пустой, сделать "Lorem ipsum" текст жирным, иначе курсив
    </li>
{% endcapture %}

{% assign round_name2 = 'Round 2' %}
{% capture round2_lists %}
    <li>Во всех секциях визуально отделить условия задачи от контента</li>
    <li>Во всех секциях где это необходимо использовать liquid переменные (assign)</li>
    <li>
        Избавиться от явной проверки на true и объяснить почему в этом случае она лишняя - 
        <code>(if section.settings.show_content == true)</code>
    </li>
    <li>Избавиться от переназначения шрифта у параграфа</li>
    <li>Добавить зеленый цвет для параграфа</li>
    <li>DRY (Don't repeat yourself)</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
    {% render 'exercise-nav', round_name: round_name2 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
    {% render 'exercise-content', round_name: round_name2, round_lists: round2_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}