{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>
        Показывать всё содержимое контента, помеченого как "Контент" комментарием, только когда 
        <code>section.settings.show_content</code> 
        равен true, в проотивном случае показывать альтернативный контент
    </li>
    <li>
        Если
        <code>section.settings.use_red_color</code> 
        равен true сделать цвет фона body красным. Желтый по умолчанию.
    </li>
{% endcapture %}

{% assign round_name2 = 'Round 2' %}
{% capture round2_lists %}
    <li>Избавиться от явной проверки на true</li>
    <li>Использовать css переменные для стилизации body</li>
    <li>DRY (Don't repeat yourself)</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
    {% render 'exercise-nav', round_name: round_name2 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
    {% render 'exercise-content', round_name: round_name2, round_lists: round2_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}