{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>
        Вывести сумму двух переменных 
        <code>assign num_list1 = '1,3,4,7,2'</code>
        <code>assign num_list2 = '76,2,99,6,8'</code>
    </li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}