{% assign round_name1 = 'Round 1' %}
{% capture round1_lists %}
    <li>Показывать только когда есть some_text и show_text включен</li>
    <li>Показывать ДА, когда Number 1 больше Number 2 и Number 1 не меньше 3, иначе НЕТ</li>
    <li>Показывать ДА, когда Number 1 больше 6 или меньше 3, иначе НЕТ</li>
    <li>Показывать ДА, когда Number 2 меньше 9 и Number 1 больше 3, но меньше 8, иначе НЕТ</li>
    <li>Показывать наибольшее число из Number 1, Number 2 и Number 3</li>
{% endcapture %}

{% capture Nav %}
    {% render 'exercise-nav', round_name: round_name1 %}
{% endcapture %} 

{% capture Content %}
    {% render 'exercise-content', round_name: round_name1, round_lists: round1_lists %}
{% endcapture %}

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}