<div>
    {% for block in blocks %}
        {% case block.type %}
            {% when 'heading' %}
                <h1 style="font-size:{{ block.settings.font_size }}px">
                    {{ block.settings.text-title  }}
                </h1>
            {% when 'subheading' %}
                <h5>
                    {{ block.settings.subheading }}
                </h5>
            {% when 'rich-text' %}
                <p>
                    {{ block.settings.rich-text }}
                </p>   
        {% endcase %}
    {% endfor %}
</div>