<h2>Упражнение 6 (Capture, snippets)</h2>

<h5>Создать и использовать сниппет для условий задач</h5>

<ol>
    <li>Сниппет должен принимать заголовок и контент, иметь свои стили.</li>
    <li>Все условия задач вынести в собственные сниппеты с соответствующими названиеми.</li>
    <li>Возможные улучшения и оптимизация приветствуется.</li>
</ol>


{% schema %}
    {
        "name": "Exercise 6",
        "presets": [
            {
                "name": "Exercise 6"
            }
        ]
    }
{% endschema %}