<h2>Упражнение 5 (Filters, snippets, iterations)</h2>

<h5>Для чисел из сеттинга values вывести натуральные делители</h5>
<cite>(Делитель натурального числа a – это натуральное число <code>b</code>, на которое число a делится без остатка.)</cite>

<ol>
    <li>Если натуральных делителей для числа нет - вывести "No natural divisors".</li>
    <li>Каждое число из сеттинга передавать в сниппет delimeters для получения и вывода результата.</li>
    <li>Результат вывода должен выглядеть как показано на <a href="https://drive.google.com/file/d/1AY6DYocBsDF5BZIR56ZUQpS2LPFppZxV/view?usp=sharing">примере</a>.</li>
</ol>


{% schema %}
    {
        "name": "Exercise 5",
        "settings": [
            {
                "type": "text",
                "id": "values",
                "label": "Numbers",
                "default": "16,4,20,44,25",
                "info": "Enter numbers separated by commas"
            }
        ],
        "presets": [
            {
                "name": "Exercise 5"
            }
        ]
    }
{% endschema %}