<h2>Упражнение 3</h2>
<h5>Раунд 1</h5>
<ol>
    <li>
        <ol>
            <li>Показывать "Идёт дождь" если section.settings.weather равен rain</li>
            <li>Показывать "Идёт снег" если section.settings.weather равен snow</li>
            <li>Показывать "Поднялся ветер" если section.settings.weather равен wind</li>
            <li>Показывать "Погода сегодня прекрасная" если section.settings.weather равен fine</li>
            <li>Иначе показывать "Другое"</li>
        </ol>
    </li>
    <br>
    <li>
        <ol>
            <li>Сделать текст "Идёт дождь" синим, а фон белым</li>
            <li>Сделать текст "Идёт снег" белым, а фон чёрным</li>
            <li>Сделать текст "Поднялся ветер" серым, а фон синим</li>
            <li>Сделать текст "Погода сегодня прекрасная" чёрным, а фон зёленым</li>
            <li>Сделать текст "Другое" жирным, красным</li>
        </ol>
    </li>
</ol>
<h5>Раунд 2</h5>
<ol>
    <li>Провести рефакторинг проверки условий с использованием case</li>
    <li>Использовать css переменные для стилизации</li>
    <li>DRY (Don't repeat yourself)</li>
</ol>
<br>
<br>
<br>
<h3>Прогноз:</h3>
{% comment %}
    Не редактировать код выше
{% endcomment %}

{% if section.settings.weather == 'rain' %}
    <p style="color: blue;">
        Идёт дождь
    </p>
{% elsif section.settings.weather == 'snow' %}
        <p style="color: white;">
            Идёт снег
        </p>  
    <style>
        body  {
            background-color: black;
        }
    </style>
{% elsif section.settings.weather == 'wind' %}
    <p style="color: gray;">
        Поднялся ветер 
    </p>
    <style>
        body {
            background-color: blue;
        }
    </style>
{% elsif section.settings.weather == 'fine' %}
    <p>
        Погода сегодня прекрасная
    </p>
    <style>
        body {
            background-color: green;
        }
    </style>
{% elsif section.settings.weather == 'fog' %}
    <p style="color: green;">
        Туман
    </p>
    <style>
        body {
            background-color: chocolate;
        }
    </style>

{% elsif section.settings.weather == 'dust' %}
    <p style="color: red;">
        Пыльно
    </p>
    <style>
        body {
            background-color: yellow;
        }
    </style>
{% else %}
    <p style="font-weight: bold; color: red;">
        Другое
    </p>                  
{% endif %}


{% schema %}
    {
        "name": "Exercise 3",
        "settings": [
            {
                "type": "select",
                "options": [
                    {
                        "value": "fine",
                        "label": "Прекрасно"
                    },
                    {
                        "value": "wind",
                        "label": "Ветер"
                    },
                    {
                        "value": "snow",
                        "label": "Снег"
                    },
                    {
                        "value": "fog",
                        "label": "Туман"
                    },
                    {
                        "value": "rain",
                        "label": "Дождь"
                    },
                    {
                        "value": "other",
                        "label": "Другое"
                    },
                    {
                        "value": "dust",
                        "label": "Пыльно"
                    }
                ],
                "id": "weather",
                "label": "Weather"
            }
        ],
        "presets": [
            {
                "name": "Exercise 3"
            }
        ]
    }
{% endschema %}