<h2>Упражнение 1</h2>
<p>1. Показывать всё содержимое контента, помеченого как "Контент" комментарием, только когда section.settings.show_content равен true</p>
<p>2. Показывать хэдинг только когда section.settings.show_heading равен true </p>
<p>3. Применять цвет текста для хэдинга только когда section.settings.use_color равен true</p>
<p>4. Показывать "Lorem ipsum" текст только когда section.settings.show_text равен true</p>
<p>Если section.settings.heading пустой, сделать "Lorem ipsum" текст жирным, иначе курсив</p>
{% comment %}
    Не редактировать код выше
{% endcomment %}


{% comment %}
    Начало контента
{% endcomment %}
{% if section.settings.show_content == true %}

    {% if section.settings.show_heading == true %}   
        <h3 {% if section.settings.use_color == true %} style="color: {{ section.settings.heading_color }}"{% endif %} >
            {{ section.settings.heading }}
        </h3>
    {% endif %}    
        
    {% if section.settings.show_text == true %} 
            <p
                {% if section.settings.heading == blank %} 
                    style="font-weight: bold;"
                {% else %}
                    style="font-family: cursive;"
                {% endif %}>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
    {% endif %}

{% endif %}

{% comment %}
    Конец контента
{% endcomment %}

{% schema %}
    {
        "name": "Exercise 1",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_content",
                "default": true,
                "label": "Show content"
            },
            {
                "type": "checkbox",
                "id": "show_heading",
                "default": true,
                "label": "Show heading"
            },
            {
                "id": "heading",
                "default": "Lorem ipsum",
                "type": "text",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "use_color",
                "default": true,
                "label": "Use color"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default": "#FF0000"
            },
            {
                "type": "checkbox",
                "id": "show_text",
                "label": "Show text",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Exercise 1"
            }
        ]
    }
{% endschema %}