{% for block in section.blocks %}
  <h1>{{ block.settings.heading }}</h1>
  <h2>{{ block.settings.subheading }}</h2>
  <h3>{{ block.settings.text }}</h3>
{% endfor %}

{% schema %}
  {
    "name": "hero",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "subheading",
        "name": "Subheading",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "hero"
      }
    ]
  }
{% endschema %}