{% for block in section.blocks %}
  {% case block.type %}
    {% when 'heading' %}
      <div>
        {{ block.settings.heading }}
      </div>  
    {% when 'subheading' %}
      <div>
        {{ block.settings.subheading }}
      </div>
    {% when 'text' %}
      <div>
        {{ block.settings.text }}
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
  {
    "name": "hero",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "subheading",
        "name": "Subheading",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "hero"
      }
    ]
  }
{% endschema %}