{% render 'exercise-13' %} 

{% render 'exercise-wrapper', Nav: Nav, Content: Content %}
{% assign words = 'apple, banana, orange, cherry, lemon, blackberry, zalupa' |  split: ", " %}

<ul>
    {% for word in words %}
            {% assign test = forloop.index |  modulo: 3 %}

            <li {% if test == 0 %}style="font-weight: bold;"{% endif %}>
                {{ word }}
            </li>          
    {% endfor %} 
</ul>

{% schema %}
    {
        "name": "Exercise 13",
        "limit": 1,
        
        "presets": [
            {
                "name": "Exercise 13"
            }
        ],
        "enabled_on": {  
        "templates": ["index"]
       }
    }
{% endschema %}