.exercises-three-wrapper {
    height: 100vh;
    background-color: var(--color-bg, #fff);
}

.exercises-three-metcast {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.exercises-three-title {
    color: var(--color-title, #000);
}

.exercises-three-value {
    color: var(--color-text, #000);
    font-weight: var(--font-weight, normal);
}