.exercise-four-content {
    font-size: var(--font-size);
    font-weight: var(--font-weight, normal);
    font-style: var(--font-style, normal);
    background-color: #008000;
    width: var(--width);
} 

.exercise-four-inner {
    text-align: var(--align-content);
} 

.exercise-four-heading {  
    text-decoration: var(--text-decoration, inherit);
}

