.content {
    width: 50%;
    font-size: var(--font-size);
    font-weight: var(--font-weight,normal);
    font-style: var(--font-style, normal);
    background-color: green;
    width: var(--width);
} 

.content-alignment {
    --align-content: left;
    width: 100%;
} 

.text-align {
    text-align: var(--align-content);
}

h3 {
    text-decoration: var(--text-decoration,inherit);
}

form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}