.text {
    font-weight: var(--font-weight, normal);
    font-style: var(--font-style, inherit);
}

.heading {
    color: var(--heading-color, #FF0000);
}

.content {
    background-color: green;
    min-height: 300px;
}