.content {
    font-size: var(--font-size);
    font-weight: var(--font-weight, normal);
    font-style: var(--font-style, normal);
    background-color: green;
    width: var(--width);
} 

.content-inner {
    text-align: var(--align-content);
} 

.text-heading {  
    text-decoration: var(--text-decoration, inherit);
}

.block-size {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: red;
}