.table {
    margin: auto;
    font-family: sans-serif;
    border-spacing: 5px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: #c5c5c5 0px 5px 15px;
}

.table-row {
    background-color: #F2E6D0;
    color: #3C3C3C;   
}

.table-data {
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 1px solid #B1B1B1;
}

.table-data:first-child, .table-row:first-child{
    background-color: #A1C746;
    font-weight: bold;
    color: #fff;
}