
    :root {
        --color-hero: #2F73B6;
        --color-secondary: #e8f3ff;
        --color-hover: #255c92;
        --color-shadow: #777;
        --box-shadow: 0 10px 6px -6px var(--color-shadow);
    }

    .tabs-header {
        display: flex;
        margin-bottom: .5rem;
        justify-content: right;
        gap: 1rem;
    }

    .tabs-header-label {
        font-size: .9rem;
        flex-basis: 7rem;
        text-align: center;
        padding: .4rem;
        color: var(--color-secondary);
        background-color: var(--color-hero);
    }
    
    .tabs-header-label:hover {
        cursor: pointer;
        background-color: var(--color-hover);
    }

    .tabs-inner {
        display: flex;
        gap: 1rem;
    }

    .tabs-content, .tabs-input {
        display: none;
    }

    .tabs-input:checked + .tabs-content {
        display: block;
        font-size: .9rem;
        width: 50%;
        padding: .7rem;
        border: 1px solid var(--color-hero);
        background: var(--color-secondary);
        border-left: 1rem solid var(--color-hero);
        box-shadow: var(--box-shadow);
    }
